.rect h2 {
    color: rgb(0, 187, 255);
    font-size: 2rem;
    padding: .5rem 0;
    text-align: center;
}
.rect textarea {
    background: rgba(0, 0, 0);
    border: none;
    border-radius: 10px;
    color: cyan;
    font-size: 2.5rem;
    height: 50vh;
    outline: none;
    padding: 1rem 1rem;
    position: relative;
    resize: none;
    text-align: justify;
    width: 35vw;
}
.rect textarea::placeholder{
    color: cyan;
    text-shadow: 1px 1px black;
}
.rect--right {
    transition: background .5s ease-in-out;
}
@media screen 
  and (max-width: 768px) {
    .rect h2 {
        font-size: 1rem;
        padding-left: 1rem;
        text-align: left;
    }
    .rect textarea {
        font-size: 1.5rem;
        height: 25vh;
        width: 90vw;
    }
}