.alert {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.773); 
  }

  .alert-content {
    background: rgba(0, 45, 3, 0.445);
    margin: 15% auto;
    padding: 10px;
    border-radius: none;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    max-width: 50%;
    top: 50%;
    left: 50%;
  }

#key-text{
    
    padding: 1px;
    display: inline-block;
    outline: none;
    position: relative;
    border: none;
    font-size: 1.75rem;
    text-align: center;
    resize: none;
    color: darkgreen;
    background: none;
    width: 100%;
}




  .close {
    color: #aaa;
    float: right;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: lightgreen;
  }

  .message {
    margin: 20px auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  .alert-error {
    background: rgba(0, 45, 3, 0.445);
    margin: 15% auto;
    padding: 20px;
    border-radius: none;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    max-width: 50%;
    top: 50%;
    left: 50%;
  }
  .message-error{
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: red;
  }
  .error-message{
    font-size: 1.5rem;
    text-align: justify;
    color: white;
    padding: 10px 10%;
  }

.alert-input{
  background: rgba(0, 45, 3, 0.445);
  margin: 15% auto;
  padding: 20px;
  border-radius: none;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  max-width: 50%;
  top: 50%;
  left: 50%;
}


#key-text-input{
  margin: 10px;
  width: 80%;
  height: 40px;
  padding: 0 10px;
  background:  rgba(0, 96, 96, 0.404);
  font-size: 1.5rem;
  text-align: left;
  color: white;
  outline: none;
  border: none;
}
#key-text-input::placeholder{
  text-align: left;
}






  .button-alert {
    margin-left: 70%;
    padding: 2% 10%;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s background;
  }

  .button-alert:hover {
    background-color: darkgreen;
  }