.buttons__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    position: relative;
    width: 100vw;
}
@media screen 
  and (max-width: 768px) {
    .buttons__list {
        align-items: center;
        flex-direction: column;
        gap: .5rem;
    }
  }